@model SurveyFileViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService
@{
    ViewBag.Title = "Edit Survey File";
    ViewBag.Activelink = "surveyfile";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Edit file</h4>
                <p class="card-category">Update changes in survey file</p>
            </div>
            <div class="card-body">
                <form method="post" asp-action="savesurveyfile" asp-controller="surveyfile">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="hidden" asp-for="ID" />
                                <label asp-for="Date" class="bmd-label-floating"></label>
                                <input asp-for="Date" class="form-control datepicker" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Insured" class="bmd-label-floating"></label>
                                <input asp-for="Insured" class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="VechicleNo" class="bmd-label-floating"></label>
                                <input asp-for="VechicleNo" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="RepairerName" class="bmd-label-floating"></label>
                                <input asp-for="RepairerName" class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="RepairerEmail" class="bmd-label-floating"></label>
                                <input asp-for="RepairerEmail" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" style="margin-top: 12px;">
                                <input asp-for="HasFile" />
                                <label class="form-check-label" asp-for="HasFile"></label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="FollowUpDate" class="bmd-label-floating"></label>
                                <input asp-for="FollowUpDate" class="form-control datepicker" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" style="margin-top: 12px;">
                                <input asp-for="HasEstimate" />
                                <label class="form-check-label" asp-for="HasEstimate"></label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="EstimateDate" class="bmd-label-floating"></label>
                                <input asp-for="EstimateDate" class="form-control datepicker" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" style="margin-top: 12px;">
                                <input asp-for="HasBill" />
                                <label class="form-check-label" asp-for="HasBill"></label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="BillDate" class="bmd-label-floating"></label>
                                <input asp-for="BillDate" class="form-control datepicker" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" asp-for="InsurerID" />
                                <label asp-for="InsurerID" class="bmd-label-floating"></label>
                                <select class="form-control insurer_drop" id="ddlInsurer" style="width:100%;">
                                    <option value="">Select Insurer</option>
                                    @foreach (var data in Model.Insurers)
                                    {
                                        if (data.Key == Model.InsurerID)
                                        {
                                            <option selected value="@data.Key">@data.Value</option>
                                        }
                                        else
                                        {
                                            <option value="@data.Key">@data.Value</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" asp-for="StatusID" />
                                <label asp-for="StatusID" class="bmd-label-floating"></label>
                                <select class="form-control status_drop" id="ddlStatus" style="width:100%;">
                                    <option value="">Select current status</option>
                                    @foreach (var data in Model.Statuses)
                                    {
                                        if (data.Key == Model.StatusID)
                                        {
                                            <option selected value="@data.Key">@data.Value</option>
                                        }
                                        else
                                        {
                                            <option value="@data.Key">@data.Value</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Index" />
                    @if ((await authorizationService.AuthorizeAsync(User, "CanWritePolicy")).Succeeded)
                    {
                        <button type="submit" class="btn btn-primary pull-right">Save Changes</button>
                    }
                    @if ((await authorizationService.AuthorizeAsync(User, "CanDeletePolicy")).Succeeded)
                    {
                        <a asp-action="DeleteSurveyFile" asp-controller="surveyfile" asp-route-ID="@Model.ID" class="btn btn-danger pull-right">Delete</a>
                    }
                    <a asp-action="listsurveyfiles" class="btn btn-outline-primary pull-right">Back to list</a>
                    <div class="clearfix"></div>
                    @if (ViewBag.ActionStatus == "success")
                    {
                        <div class="alert alert-success" role="alert">
                            Success, changes successfully saved!
                        </div>
                    }
                    else if (ViewBag.ActionStatus == "fail")
                    {
                        <div class="alert alert-danger" role="alert">
                            Error, Opration failed with error!
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-body">
                <h6 class="card-category text-gray">File Index</h6>
                <h4 class="card-title">@Model.Index</h4>
                <p class="card-description">
                    This is an auto generated number internally stamped in the survey file
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd-M-yy",
            });
            $(".insurer_drop").change(function () {
                $('#InsurerID').val($('#ddlInsurer').val());
            });
            $(".status_drop").change(function () {
                $('#StatusID').val($('#ddlStatus').val());
            });
            $(".alert").delay(7000).fadeOut(500);
        });
    </script>
}