@model EditUserViewModel

@{
    ViewBag.Title = "Edit User";
    ViewBag.Activelink = "admindashboard";
}
<form method="post">
    <div class="form-group row">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header">
                    <h3>User Roles</h3>
                </div>
                <div class="card-body">
                    @if (Model.Roles.Any())
                    {
                        foreach (var role in Model.Roles)
                        {
                            <h5 class="card-title">@role</h5>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">None at the moment</h5>
                    }
                </div>
                <div class="card-footer">
                    <a asp-action="ManageUserRoles" asp-route-userId="@Model.Id" style="width:auto" class="btn btn-primary">
                        Manage Roles
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header">
                    <h3>User Claims</h3>
                </div>
                <div class="card-body">
                    @if (Model.Claims.Any())
                    {
                        foreach (var claim in Model.Claims)
                        {
                            <h5 class="card-title">@claim</h5>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">None at the moment</h5>
                    }
                </div>
                <div class="card-footer">
                    <a asp-action="ManageUserClaims" asp-route-userId="@Model.Id"
                       style="width:auto" class="btn btn-primary">
                        Manage Claims
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row hidden">
        <div class="col-sm-10">
            <input asp-for="Id" type="hidden" disabled class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SurveyorID" class="col-sm-2 col-form-label"></label>
        <input type="hidden" asp-for="SurveyorID" />
        <div class="col-sm-8">
            <select class="form-control surveyor_drop" id="ddlSurveyor" style="width:100%;">
                <option value="">select a surveyor</option>
                @foreach (var data in Model.Surveyors)
                {
                    if (data.Key == Model.SurveyorID)
                    {
                        <option selected value="@data.Key">@data.Value</option>
                    }
                    else
                    {
                        <option value="@data.Key">@data.Value</option>
                    }

                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="UserName" class="form-control">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <a asp-action="ListUsers" class="btn btn-outline-primary">Back to list</a>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".surveyor_drop").change(function () {
                $('#SurveyorID').val($('#ddlSurveyor').val());
            });
        });
    </script>
    }